@model IEnumerable<ShoppingListApp.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="card shadow mb-3">
    <div class="card-body">
        <h2>Categories</h2>
        <p>Manage product categories.</p>
    </div>
</div>

<p>

    <a asp-action="Create"
       class="btn btn-success">

        Create New

    </a>

</p>

<form method="get">
<div class="row mb-3">
<div class="col-md-6">

<input
class="form-control"
name="search"
placeholder="Search Category..."
value="@ViewBag.Search"/>

</div>
<div class="col-md-2">
<button
class="btn btn-primary w-100">

Search

</button>

</div>

<div class="col-md-2">
<a asp-action="Index"
class="btn btn-secondary w-100">

Clear

</a>
</div>
</div>
</form>

<table class="table table-hover table-striped shadow">

    <thead>

        <tr>

            <th>Name</th>

            <th>Description</th>

            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>

                <td>@item.Description</td>

                <td>

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-info btn-sm">

                        Details

                    </a>

                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-warning btn-sm">

                        Edit

                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-danger btn-sm">

                        Delete

                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>